<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> I have electrical and electronics engineering bachelor degree. As a game developer, I am experienced more than three years with above 50 games that are hyper-casual and hybrid-casual.
        
        </p>
      </div>
      <div class="col-lg-4">
        <p>As solution oriented person with thinks analytically, to develop game and produce somethings are passion and hobby to me. I strongly want to improve my skills and contribute to the people with I work. 
        and </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
